$main-color: #9356DC;
$secondary-color: #FF79DA;
$third-color: #99E2D0;
$couleur-fond: #F3F3F3;

@mixin ombre($color) {
    box-shadow: 0px 3px 9px rgba( 0, 0, 0, 0.2);
}

@mixin display-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin bouton {
    border-radius: 20px;
    padding: 15px;
}

body {
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

p, li {
   font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

h1, h2, h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {

    &__container {
        @include display-center();
        width: 100%;
        
    
        &--logo {
            width: 200px;
            margin: 15px;
        }

        &--icone {
            @include display-center();
            background-color: darken($couleur-fond, 2%);
            box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.2);
        }

        &--localisation {
            display: inline;
            font-weight: 500;
            padding-left: 15px;

        }

        &--search {
            display: none;
            border: none;
            font-weight: 600;
        }
    }
}

.intro {
    @include display-center();
    flex-direction: column;
    text-align: center;
    background-color: lighten($couleur-fond, 1%);
    box-shadow: inset 0 5px 5px rgba(0, 0, 0, 0.2);

    &__title {
         margin: 30px 40px 0px;
    }

    &__text {
        margin: 10px;
    }

    &__button {
        padding: 12px 20px;
        margin: 10px 10px 40px;
        color: white;
        background: linear-gradient(180deg, $secondary-color, $main-color);
        border: none;
        border-radius: 25px;
        @include ombre(black);

    }
   
}

.fonctionnement {
    h2 {
        padding: 20px 0px 0px 20px;
    }
}

.step {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 20px;

    .step__icone {
        font-size: 1.3em;
        color: darken($couleur-fond, 40%);
        padding: 0px 20px;
    }

    .step__icone--purple {
        color: $main-color;
        }

    .step__text {
        @include display-center();
        font-weight: normal;
        color: black;
        background-color: $couleur-fond;
        justify-content: flex-start;
        width: 80%;
        padding: 20px;
        font-weight: 600;
        border-radius: 20px;
        @include ombre(black);

    }
}

.container {
    position: relative;

    .container__number {
        display: inline;
        color: white;
        background-color: $main-color;
        height: 20px;
        padding: 5px 10px;
        border-radius: 30px;
                }
            }

.restaurants {
    background: $couleur-fond;
    padding-bottom: 40px;

    h2 {
        padding: 40px 20px 10px 20px;
    }

    &__containercards {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__card {
        height: 250px;
        width: 90%;
        background: white;
        margin-bottom: 20px;
        border-radius: 15px;
        position: relative;


        &--images {
            height: 180px;
            width: 100%;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;
            object-fit: cover;
        }

        &--nouveau {
            color: #008766;
            background-color: #99E2D0;
            width: 20%;
            padding: 5px 10px;
            border-radius: 2px;
            font-size: 14px;
            font-weight: 600;
            position: absolute;
            left: 71%;
            bottom: 78%;
            text-align: center;


        }

        &--container {
            display: flex;
            flex-direction: row;
        }

        &--containername {
            width: 80%;

            h3, p {
                margin-left: 15px;
            }

            p {
                margin-top: 2px;
                font-size: 17px;
                margin-top: 0;
                margin-bottom: 5px;
                font-size: 17px;
            }

            h3 {
                margin-top: 5px;
                margin-bottom: 0;
                font-size: 18px;
            }
        }

        &--containericone {
            width: 20%;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            i {
                font-size: 1.6em;
                margin-right: 20px;
            }
        }


    }

}

footer {
    background: #353535;
    color: white;
    padding: 15px 0;

    img {
        padding-left: 20px;
        padding-top: 10px;
        width: 35%;
        }
    


    ul {
        padding-left: 25px;
    }

    .liste {
        list-style: none;
        font-size: 18px;
        padding-bottom: 5px;

        
        &--bold {
            font-weight: 600;
        }

        &--icone {
            padding-right: 10px;
            width: 20px;
        }

    }
}
